@media (max-width: 580px) {
  .hero-content {
    font-size: 1.25em;
  }
}

@media (max-width: 480px) {
  .hero-content {
    font-size: 0.5em;
  }
}

@media (max-width: 430px), (max-height: 500px) {
  .hero-content {
    font-size: 0.5em;
  }
}
